[tox]
{{^asyncio}}
envlist = py35
{{/asyncio}}
{{#asyncio}}
envlist = py35
{{/asyncio}}

[testenv]
deps=-r{toxinidir}/requirements.txt
     -r{toxinidir}/test-requirements.txt

commands=
   {{^useNose}}pytest --cov={{{packageName}}}{{/useNose}}{{#useNose}}nosetests{{/useNose}}
